#header {
    min-height: 40px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; color: blue;
    font-size: 40px;
    border-bottom: 5px solid black;
    margin-left: 50px;
}
#about {
    margin-top: 20px;
    margin-left: 80px;
    max-width: 500px;
    border: 2px solid black;
    display: inline-flex;
}
.text {
    padding-left: 80px;
    font-family: 'Times New Roman', Times, serif; color: orange;
    max-width: 800px;
}
.links {
    padding-left: 80px;
    font-family: Arial, Helvetica, sans-serif; color:blue;
    align-items:flex-start;
}



























.