.text {
    font-size: 20px;
}
#about {
    margin-top: 30px;
    margin-left: 40px;
    border: 2px solid black;
    display: inline-flex;
}
#header {
    min-height: 40px;
    font-style: 'Segoe UI', Tahoma, Verdana, sans-serif; color: blue;
    font-size: 40px;
    border-bottom: 5px solid black;
}