#header {
    min-height: 40px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; color: blue;
    font-size: 40px;
    border-bottom: 5px solid black;
    margin-left: 50px;
}
#about {
    margin-top: 20px;
    margin-left: 80px;
    max-width: 500px;
    border: 2px solid black;
    display: inline-flex;
}
.text {
    padding-left: 80px;
    font-family: 'Times New Roman', Times, serif; color: orange;
    max-width: 800px;
}
.links {
    padding-left: 80px;
    font-family: Arial, Helvetica, sans-serif; color:blue; font-size: larger;
    align-items:flex-start;
}
.box {
    display: flex; flex-direction: column; flex-wrap: wrap;
    padding-left: 80px;
    padding-bottom: 30px;
    align-items: flex-start;
    justify-content: center;
    
}
.text2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; font-size: small;color: greenyellow;
    padding-left: 50px;    
}
.li_type {
    list-style-type: none; color: blue; align-items: center;
}
.line-break {
    width: 100%;
  }


























.